@import "assets/styles/variables";

.app {
  background: $background;
  width: 100vw;
  min-height: 100vh;
  font-family: $roboto;
  color: white;

  a {
    text-decoration: unset;
    color: inherit;
  }

  .container {
    position: absolute;
    display: block;
    margin-top: $container-margin;
    max-height: calc(100vh - 81px);
    width: 100%;
    overflow: auto;
    align-items: center;
    .averages-container,
    .all-data-container {
      margin-top: 64px;
    }
    @media screen and (max-width: $mobile) {
      margin-top: $mobile-container-margin;
      max-height: calc(100vh - 105px);
      .averages-container,
      .all-data-container {
        margin-top: 48px;
      }
    }
  }
}
